{% extends "base.html" %}
{% block title %}{{ block.super }}: About this site{% endblock %}
{% block body %}
<div id="sidebar">
</div>
<div id="about" class="about_content clearfix">
<h3>About this site</h3>
<p>This site is used for benchmarking of j5 Operations Management System</p>
<p>This site runs on top of Django and Codespeed</p>
<h3>About the benchmarks</h3>
<p>The code can be found <a href="http://projects.sjsoft.com/">here</a>.</p>
<h3>About j5</h3>
<p>For more information on the j5 industrial operations management system, please go to <a href="http://www.sjsoft.com/">St James Software's web site</a>.</p>
<h3>About Codespeed</h3>
Codespeed is a web application to monitor and analyze the performance of your code.
<p>Code: <a href="http://github.com/tobami/codespeed">github.com/tobami/codespeed</a></p>
<p>Wiki: <a href="http://wiki.github.com/tobami/codespeed/">wiki.github.com/tobami/codespeed/</a></p>
<h3>Contact</h3>
<p>For problems or suggestions about this website write to...</p>
</div>
{% endblock %}
